@tailwind base;
@tailwind components;
@tailwind utilities;

/* slick-carousel/slick/slick.css */
@import "~slick-carousel/slick/slick.css";
/* slick-carousel/slick/slick-theme.css */
@import "~slick-carousel/slick/slick-theme.css";

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}



/* Styling for dropdown menus */
.navbar-dropdown {
  position: relative;
}

@media screen and (min-width:768px) {
  .svg{
    display:none ;
  }
}










.navbar-dropdown-content {
  display: none; /* Hidden by default */
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 50;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

/* Show dropdown content on hover */
.navbar-dropdown:hover .navbar-dropdown-content {
  display: block;
}

.box:hover{
  box-shadow: 0px 3px 90px rgba(0, 0, 0, 0.16);
 }

body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight:300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}


p{
  text-align: justify !important;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight:300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}


nav {
  font-family: "EB Garamond", sans-serif !important;
  font-size: 20px !important;
    
    font-size: 20px;
    font-weight: normal;
   
    color: rgba(111, 107, 103, .7);
    padding: 10px;
    text-shadow: none;
  
}

li{
  text-align: justify !important;
}

span{
  text-align: justify !important;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

@media screen and (max-width:768px){
  .bg{
    background: rgba(245, 240, 234, 0.41)
  }
}

.bg:hover{
background: rgba(245, 240, 234, 0.41)
}

.half-half-image-text{
  padding: 70px 0px;
  h1{
    color: #800000;
  }
  .content{
    height: 100%;
    display:flex;
    align-items: center;
    padding: 35px 0px;
    p{
      font-size: 22px;
    }
  }
  .img{
    min-height: 320px;
    height: 100%;
    border-radius: 10px;
  }
}


/* ------------ */

.card {
     box-shadow: 0px 5px 10px rgba(90, 116, 148, 0.3);
    background-color: #fff;
    border-radius: 8px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.3px;
    color: #475f7b;
    overflow: hidden;
}
.rc-accordion-toggle {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    justify-content: space-between;
    background-color: #ebedf0;
    transition: 0.3s;
}
.rc-accordion-toggle.active{
    background-color: rgb(209, 162, 114);
}
.rc-accordion-toggle.active .rc-accordion-icon{
    transform: rotate(180deg);
    color: #fff;
}
.rc-accordion-card{
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
}
.rc-accordion-card:last-child{
    margin-bottom: 0;
}
.rc-accordion-title{
    font-weight: 500;
    font-size: 14px;
    position: relative;
    margin-bottom: 0;
    color: #475F7B;
    transition: 0.3s;
}
.rc-accordion-toggle.active .rc-accordion-title{
    color: #fff;
}
.rc-accordion-icon{
    position: relative;
    top: 2px;
    color: #475F7B;
    transition: 0.35s;
    font-size: 12px;
}
.rc-accordion-body{
    flex: 1 1 auto;
    min-height: 1px;
    padding: 15px;
}
.rc-accordion-body p{
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #727E8C;
}
.rc-collapse{
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height 0.35s ease;
}
.rc-collapse.show{
    height: auto;
}

.pt-4{
  color:#707070;
}

.svg{
  transform: rotate(180deg);
}

@media screen and (max-width: 768px){
  .nav{
    position: relative;
  }
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }



/* Add this to your global CSS file or a module CSS file */
#mobile-menu {
    background-color: white;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }
  
  #mobile-menu.open {
    background-color: white;
    transform: translateX(0);
  }
  

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.scroll-container {
    scroll-behavior: smooth;
  }